.tableContent {
    max-height: 30rem;
    overflow: auto;
    box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
    .table {
        border-collapse: collapse;
        .thead {
            .th {
                top: -1px;
                position: sticky;
                cursor: pointer;
                border: 1px solid var(--grey-light);
                background-color: var(--white);
                box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
            }
        }
        .td, .th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .tr{
            &:nth-child(even) {
                background-color: var(--grey-lighter);
            }
        }
    }
    .noFound {
        color: var(--grey);
        font-size: 1.6rem;
        padding: 0 2rem;
        font-weight: bold;
    }
}
.paginationContent {
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: var(--white);
    border-radius: .8rem;
    display: flex;
    justify-content: flex-end;
    border: 1px solid var(--grey-lightest);
    box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
    .paginationList {
        display: flex;
        .item {
            cursor: pointer;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            font-weight: bold;
            border-radius: .5rem;
            color: var(--primary);
            margin-right: .2rem;
            &:hover,
            &.active {
                color: var(--white);
                background-color: var(--primary);
            }
        }
    }
}

@media screen and (max-width: 770px) {
	/*
	Label the data
    */
    .tableContent {
        .table {
            .td, .th {
                padding: 1rem;
                padding-left: 50%; 
            }
            .td {
                &:nth-of-type(1):before { content: "Language"; }
                &:nth-of-type(2):before { content: "Default Branch"; }
                &:nth-of-type(3):before { content: "Git URL"; }
                &:nth-of-type(4):before { content: "Name"; }
                &:nth-of-type(5):before { content: "Description"; }
            }
        }
    }
}