.content {
    display: flex;
}
.nav {
    padding: 8rem 8rem;
    .list {
        li {
            min-width: 6rem;
            font-weight: bold;
            text-align: center;
        }
    }
}
.tabContent {
    padding: 8rem 1rem;
    min-width: 50rem;
}

@media screen and (max-width: 770px) {
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tabContent {
        padding: 2rem 1rem 2rem 3rem;
        min-width: 100%;
    }
    .nav {
        flex: 1 100%;
        padding: 2rem;
        .list {
            display: flex;
            justify-content: center;
        }
    }
}