.main {
    display: flex;
    width: fit-content;
    min-width: 100%;
    border-radius: 2rem;
    height: calc(100vh - 6rem);
    .bg {
        background-color: var(--white);
        position: absolute;
        inset: 3%;
        box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 30%);
        z-index: -1;
        border-radius: 1rem;
        width: 95%;
        height: 95%;
        min-width: 370px;
        min-height: 820px;
    }
    .content {
        min-width: 95vw;
        margin-top: 5rem;
    }
}
.title {
    font-size: 4rem;
    margin-bottom: 3rem;
}
.filterContent {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    .sortContent {
        margin-top: 2rem;
        .sortTag {
            cursor: pointer;
            border: 1px solid var(--primary);
            background-color: var(--primary);
            color: var(--white);
            padding: 1rem 4rem 1rem 2rem;
            position: relative;
            border-radius: 50rem;
            font-weight: bold;
            font-size: 1.2rem;
            top: 1rem;
            transition: all .2s;
            &:hover {
                color: var(--primary);
                background-color: var(--grey-lightest);
            }
            .icon {
                position: absolute;
                right: 2rem;
                top: 1.1rem;
            }
        }
    }
    .filterSearchInput {
        display: flex;
        align-items: baseline;
        margin-top: 2rem;
        justify-content: flex-end;
        .filterTitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin-right: 1.5rem;
        }
    }
}