.main {
    display: flex;
    width: fit-content;
    min-width: 100%;
    border-radius: 2rem;
    height: calc(100vh - 6rem);
    background-color: var(--white);
    box-shadow: 0 .8rem 2rem rgba(0,0,0,0.3);
}
.title {
    font-size: 4rem;
    margin-bottom: 3rem;
}
.filterSearchInput {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 2rem;
    justify-content: flex-end;
    .filterTitle {
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 1.5rem;
    }
}