.input {
    width: 100%;
    padding: 0 1.5rem;
    min-height: 3.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: 1px solid var(--grey-lighter);
    box-shadow: 0 .8rem 1.2rem rgba(0,0,0,0.1);
}